.Portfolio {
    text-align: center;
    padding: 50px 20px;
    background-color: #111;
    color: white;
}

.AboutMe-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
}

.AboutMe-title span {
    color: var(--primary-color);
}

.Portfolio-Container {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.portfolio-box {
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 25px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative; /* ضروري للتحكم في الزر */
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.portfolio-box:hover img {
    transform: scale(1.05);
    filter: brightness(0.5); /* تغميق الصورة لإبراز الزر */
}

.demo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0; /* يمسك الزر وسط البوكس */
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.portfolio-box:hover .demo-btn {
    opacity: 1;
}

.demo-btn a {
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.demo-btn a:hover {
    background-color: white;
    color: var(--primary-color);
}
