.StateBox{
    border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px 30px 25px;
}

.StateBox h1{
    color: var(--primary-color);
    font-size: 32px;
  line-height: 1.2;
}
.StateBox .stats_title{
    line-height: 1.6;
  padding-left: 45px;
  position: relative;
font-size: 14px;
}

.stats_title::before {
    background-color: var(--text-color);
  
    content: "";
  
    height: 1px;
  
    left: 0;
  
    position: absolute;
  
    top: 25%;
  
    width: 30px;
  
  }